body {width: 100%;height: 100%;font-family: 'Poiret One', cursive;color: #fff; padding: 0;}
html {width: 100%;height: 100%;}
h1, h2, h3, h4, {margin: 0 0 35px;text-transform: uppercase;font-family: 'Poiret One', cursive;font-weight: 700;letter-spacing: 1px;}
ul {-webkit-padding-start: 0;}
a{color: #000000;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
a:hover, a:focus {text-decoration: none;color: #fff;}
iframe {display: block; background: #000; border:none;height: 100vh;width: 100%; filter: grayscale(100%);}
hr {width: 100%;height: 5px;margin-left: auto;margin-right: auto;background-color:#b73f41;color:#b73f41;border: 0 none;margin-top: 5px;margin-bottom: 0;}


/*Title and profile pic*/
.header-title{font-size:39px; letter-spacing: .3em;}.autor{padding-top: 1.2em;}img.profile {margin:3em;width:30em;height:30em;border-radius: 50%;/*-webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 filter: grayscale(100%);*/}

/*Sections height*/
.home-section {min-height: 100vh;padding-top: 7.3em;text-align: center;background-color: #c83778;}
.mid-container{padding-top: 2em; padding: 0 !important;margin: 0 !important;}
.footer-section {min-height: 70vh;;text-align: center;background-color: #ff6ca7;}
#home i.fa {font-size: 2em; color: #fff;} #home i.fa:hover {color: #ff9fd8 }


/*Middle container*/


.spwn-center  a {position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);}


.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  image-rendering: -webkit-optimize-contrast;
}

.grow:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}





/* Ipad Media Query */
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .home-section {background-size: : cover;}
  iframe { height: 40.5vh; }
}

/* Ipad Pro Media Query*/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px) {
  /*Edit if necessary for upcoming gallery*/
}

@media only screen and (max-width: 767px) {
  .header-title {letter-spacing: .1em;}
  img.profile {width: 18em; height: 18em;}
  footer {position:relative;bottom:0;}
  iframe { height: 31.5vh; }

}
